:root {
  --nav-height: 74px;
  --aside-width: 20vw;
  --bg: #131516;
  --bg-alt: #282b2c;
  --fg: #f6f6f6;
  --accent: #335ebd;
  --accent-alt: #14274e;
  --rounding: 3px;
  --shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: var(--fg);
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  overflow: hidden;
  height: 100vh;
}

nav {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: var(--nav-height);
  align-items: center;
  padding: 8px;
  z-index: 10000;

  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
  
  box-shadow: var(--shadow);
  background-color: #1c1e1f;
}

nav section {
  margin-right: 22px;
}

nav button {
  all: unset;

  margin: 2px;
  padding: 7px;
  border-radius: var(--rounding);
  background-color: #131516;
  border: 1px solid transparent;
  box-shadow: var(--shadow);
}
nav button:enabled {
  cursor: pointer;
}
nav button:enabled:hover,
nav button:enabled:active {
  border-color: var(--accent);
}
nav button:enabled:active {
  background-color: var(--accent-alt);
}
nav button:disabled {
  opacity: 0.4;
}

nav select {
  all: unset;
  appearance: menulist-button;
  
  margin: 2px;
  padding: 7px;
  padding-top: 6px;
  border-radius: var(--rounding);
  background-color: #131516;
  border: 1px solid transparent;
  box-shadow: var(--shadow);
}
nav select:enabled {
  cursor: pointer;
}
nav select:enabled:hover {
  border-color: var(--accent);
}
nav select:disabled {
  opacity: 0.4;
}

nav input[type="text"] {
  all: unset;

  margin: 2px;
  padding: 7px;
  padding-top: 6px;
  border-radius: var(--rounding);
  background-color: #131516;
  border: 1px solid transparent;
  box-shadow: var(--shadow);
}
nav input[type="text"]:enabled:hover,
nav input[type="text"]:enabled:focus {
  border-color: var(--accent);
}
nav input[type="text"]:disabled {
  opacity: 0.4;
}

main {
  display: flex;
  flex-direction: row;
}

article {
  overflow-y: auto;
  width: calc(100vw - var(--aside-width));
  height: calc(100vh - var(--nav-height));
  padding: min(3%, 12px);

  background-color: #131516;
  font-family: "Fira Mono", "DejaVu Sans Mono", "Menlo", "Consolas", "Liberation Mono", "Monaco", "Lucida Console", monospace;
  font-variant-numeric: tabular-nums;
}

article h1:first-of-type {
  margin-top: 0;
}

article .redacted {
  background: repeating-linear-gradient(90deg, 
    #a6a6a6 0px,
    #b6b6b6 calc(100% / var(--len))
  );
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
  color: transparent;
  border-radius: var(--rounding);
  box-shadow: var(--shadow);
}

article span {
  scroll-margin: 33vh;
}

aside {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: var(--aside-width);
  height: calc(100vh - var(--nav-height));
  padding: min(3%, 12px);
  z-index: 10001;
  box-shadow: var(--shadow);

  background-color: #1c1e1f;
}

aside button {
  all: unset;
  padding: 3px;
  margin: 2px;
  background-color: var(--accent);
  border-radius: var(--rounding);
  box-shadow: var(--shadow);
}
aside button:enabled {
  cursor: pointer;
}
aside button:disabled {
  background-color: var(--accent-alt);
}
aside button:enabled:hover {
  filter: brightness(0.9);
}
